* {
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

main {
    padding: 2em;
    width: 30em;
    margin: 10em auto;
    background-color: white;
}

#q {
    font-weight: bold;
}

.answers {
    line-height: 1.5em;
}

.answer > label {
    cursor: pointer;
}

input[type=radio] {
    cursor: pointer;
}

input[type=radio]:disabled {
    display: none;
}

input[type=radio]:disabled + label {
    cursor: default;
}

:disabled + label[correct='no']::before {
    content: '❌';
    margin-left: .5em;
}

:disabled + label[correct='yes']::before {
    content: '✔️';
    margin-left: .5em;
}

#chat {
    padding: 1em;
    height: 80vh;
    margin-top: 5em;
    overflow: auto;
    font-size: .7em;
    opacity: 0;
    transition: opacity 3s;
}

.msg {
    margin: .2em 0;
    padding: .2em;
    background-color: #EAFFEF	;
    border: 1px solid #eee;
    border-radius: .5em;
}

time {
    color: #999;
    font-size: .8em;
    float: left;
}

.sender {
    font-weight: bold;
}

